* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

h1{
    font-family: "Bricolage Grotesque", sans-serif;
}

h2{
  font-family: "Bricolage Grotesque", sans-serif;
  color: #fff;
}
  
 /* Navbar */
.navbar {
  background-color: #2fa4a1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 64px;
  height: 120px;
  position: relative;
}
  
  /* Logo NavBar */
  .logo img {
    height: 80px;
    width: auto;
  }
  
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
  
  .logo-title {
  animation: slideInRight 1s ease forwards;
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
  /* Enlaces */
  .nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 28px;
    font-family: "Hind", sans-serif;
    font-weight: 300;
    position:relative;
    transition: transform 0.2s ease;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* drop shadow */
  }
  
  .nav-links a:hover {
    transform: scale(1.1);
  }
  
.logo-title {
  display: flex;
  align-items: center;
  gap: 16px;
  font-family: "Hind", sans-serif;
      font-weight: 300;
}


  .logo-title a {
    color: #ffffff;
    text-decoration: none;
    font-size: 28px;
    font-family: "Hind", sans-serif;
    font-weight: 300;
    position:relative;
    transition: transform 0.2s ease;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* drop shadow */
  }




    .logo-title a::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
    position: absolute;
    bottom: -4px;
    left: 0;
  }
  
  .logo-title a:hover::after {
    width: 100%;
  }
.site-title {
  font-family: "Hind", sans-serif;
      font-weight: 300;
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}

  .nav-links a::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
    position: absolute;
    bottom: -4px;
    left: 0;
  }
  
  .nav-links a:hover::after {
    width: 100%;
  }

  /* Animación del logo */
@keyframes slideInLeft {
    0% {
      opacity: 0;
      transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .logo {
    animation: slideInLeft 0.8s ease forwards;
  }

  /* Animación de los links */
  @keyframes fadeInUpL {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .nav-links li {
  opacity: 0;
  animation: fadeInUpL 0.6s ease forwards;
}

/* Cascada con retraso para cada link */
.nav-links li:nth-child(1) {
  animation-delay: 0.4s;
}
.nav-links li:nth-child(2) {
  animation-delay: 0.6s;
}
.nav-links li:nth-child(3) {
  animation-delay: 0.8s;
}
.nav-links li:nth-child(4) {
  animation-delay: 1s;
}
 
/* RESERVACIONES*/
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.hero-images {
    position: relative;
    width: 180vmin;
    height: 100vmin;
}
.hero-images img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
}

/* imagenes y Animaciones */
.img1 {
    opacity: 1;
    animation: fadeOut 1s infinite alternate;
}

.img2 {
    opacity: 0;
    animation: fadeIn 1s infinite alternate;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}



/* "RESERVACIONES" */
.hero-images h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-weight: bold;
    color: #f988ac;
    text-shadow: 2px 2px 5px #f992b3;
    animation: bounceScale 2s infinite ease-in-out;
    z-index: 2;
}

@keyframes bounceScale {
    0% { transform: translate(-50%, -50%) scale(1); }
    50% { transform: translate(-50%, -48%) scale(1.2); }
    100% { transform: translate(-50%, -50%) scale(1); }
}


.hero ph2{
    text-align: justify;
}


.seccion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.mapa-iframe {
    margin-right: 0; 
}

.reservacion-form {
    margin-left: -30px; 
}

.mapa-iframe {
    padding-top: 50px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 200px;
}

.reservacion-form {
    display: flex;
    flex-direction: row-reverse;
    align-items: center; 
    justify-content: space-around;
    width: 500px; 
    text-align: center;
    margin: auto; 
}

.reservaciones-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.reservacion-form h2 {
    font-size: 36px;
    font-weight: bold;
    color: #007BFF;
    margin-bottom: 10px;
}

.reservacion-form p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.reservacion-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.reservacion-form input, .reservacion-form textarea {
    width: 90%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
}

.reservacion-form input:valid,
.reservacion-form textarea:valid {
    border-color: #00ff08;
}

.reservacion-form input:invalid,
.reservacion-form textarea:invalid {
    border-color: #000000; 
}


.reservacion-form textarea{
    width: 90%;
    height: 10px;
    margin-bottom: 10px;
    padding: 1px;
    border: 1px solid #000000;
    border-radius: 5px;
    resize: none;

}

.reservacion-form  textarea input:valid {
    border-color: #00ff08; 
}

.reservacion-form textarea input:invalid {
    border-color: #ff0000; 
}

.reservacion-form button {
    background-color: #f7739d;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    margin-top: 20px;
}

.reservacion-form button:hover {
    background-color: #48a7aa;
    transform: scale(1.05);

}

label{
  font-family: "Bricolage Grotesque", sans-serif;
}
input, p{
  font-family: "Hind", sans-serif;
}

.equipo {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 60px 20px;
  position: relative;
  overflow: hidden;
  margin-bottom: 70px;
}

.equipo h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  font-family: "Bricolage Grotesque", sans-serif;
}

input[type="radio"] {
  display: none;
}

.slider-container {
  width: 100%;
  overflow: hidden;
  max-width: 960px;
  margin: auto;
}

.slider {
  display: flex;
  width: 300%; /* 3 grupos, 100% cada uno */
  transition: transform 0.6s ease;
}

.card {
  width: 33.3333%;
  padding: 0 10px;
  box-sizing: border-box;
}

.card img {
  width: 100%;
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 10px #000;
}

.card p {
  margin-top: 10px;
  font-size: 1.7rem;
  font-family: "Hind", sans-serif;
  font-weight: 100;
}

/* Movimiento según botón */
#slide1:checked ~ .slider-container .slider {
  transform: translateX(0%);
}
#slide2:checked ~ .slider-container .slider {
  transform: translateX(-33.3333%);
}
#slide3:checked ~ .slider-container .slider {
  transform: translateX(-66.6666%);
}

/* Botones de navegación */
.navegacion {
  margin-top: 20px;
}
.navegacion label {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #888;
  cursor: pointer;
  transition: background 0.3s;
}
#slide1:checked ~ .navegacion label[for="slide1"],
#slide2:checked ~ .navegacion label[for="slide2"] {
  background-color: #fff;
}
#slide3:checked ~ .navegacion label[for="slide3"] {
  background-color: #fff;
}

@keyframes aparecerSlide {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  animation: aparecerSlide 0.8s ease forwards;
  opacity: 0;
}

.card:nth-child(1) { animation-delay: 0.1s; }
.card:nth-child(2) { animation-delay: 0.2s; }
.card:nth-child(3) { animation-delay: 0.3s; }
.card:nth-child(4) { animation-delay: 0.4s; }
.card:nth-child(5) { animation-delay: 0.5s; }
.card:nth-child(6) { animation-delay: 0.6s; }
.card:nth-child(7) { animation-delay: 0.7s; }
.card:nth-child(8) { animation-delay: 0.8s; }
.card:nth-child(9) { animation-delay: 0.9s; }


.header-title {
  position: absolute;
  z-index: 3;
  color: white;
  font-size: 3rem;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0; 
  animation: aparecerDesdeAbajo 1s ease-out forwards;
  animation-delay: 0.5s; 
}

@keyframes aparecerDesdeAbajo {
  0% {
    opacity: 0;
    transform: translate(-50%, -30%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.menu-header {
  position: relative;
  width: 100%;
  max-width: auto;
  height: 600px; 
  overflow: hidden;
}

.menu-header video {
  position: absolute;
  top: -650px;        
  left: 0;
  width: 100%;
  height: auto;
}


/* Footer */

.footer {
  background-color: #48a7aa;
  color: white;
  padding: 60px 30px;
}

.footer-contenido {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-texto {
  flex: 1 1 500px;
}

.footer-texto h2 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: "Bricolage Grotesque", sans-serif;
}

.footer-linea {
  height: 2px;
  width: 100%;
  background-color: white;
  border: none;
  margin-bottom: 20px;
}

.footer-texto p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  font-family: "Hind", sans-serif;
}

.footer-enlaces {
  display: flex;
  gap: 30px;
  font-size: 0.95rem;
  margin-bottom: 20px;
  font-family: "Hind", sans-serif;
  transition: transform 0.2s ease;
}
  .footer-enlaces a::after {
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
    position: absolute;
    bottom: -4px;
    left: 0;
  }
  
  .footer-enlaces a:hover::after {
    width: 100%;
  }

.footer-copy {
  font-size: 0.85rem;
  opacity: 0.8;
  font-family: "Hind", sans-serif;
}

.footer-logo img {
  width: 385px;
  max-width: 100%;
}

.footer-enlaces a{
  color: #fff;
  text-decoration: none;
  transition: transform 0.2s ease;
}

.footer-enlaces :hover{
    transform: scale(1.05);
}

/* Animaciones de entrada */
@keyframes aparecerArriba {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.aparece {
  animation: aparecerArriba 1s ease-out forwards;
  opacity: 0; 
}

.btn button{
  background-color: #f7739d;
  color: #fff;
  padding: 14px 28px;
  border: none;
  border-radius: 40px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn:hover button{
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.btn-pink button{
  background-color: #f7739d;
  color: #fff;
  padding: 16px 32px;
  border-radius: 40px;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  font-family: "Bricolage Grotesque", sans-serif;
}

.btn-pink:hover button{
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}